download_map.py
assets/map_kp_des.pkl
test.py
assets/minimap.png
results/MINI_MAP_KEYPOINTS.png
results/MATCHES.png
results/WORLD_MAP_KEYPOINTS.png
test_assets/minimap.png
test_assets/Capture d’écran (1513).png
data/map.yml
assets/map_url.txt
test2.py
test.png
__pycache__
screenshot.png
assets/list/list.json
assets/list/points.json
notes.txt
assets/list/label.json
